<div data-aos="fade-right">
    <a target="_blank" href="https://www.skool.com/deepdiveenglish">
        <img
            src="happy-members.webp"
            alt="photo with members"
            class="w-auto h-auto rounded-md shadow-lg shadow-amber-300"
        /></a
    >
</div>
