---
import MemberQuote from "./MemberQuote.astro";
---

<div>
    <h1
        class="text-white text-4xl flex justify-center pb-10"
        data-aos="fade-right"
    >
        Birthday wishes from the community members 🍻
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10" data-aos="fade-up">
        <MemberQuote
            name="Jose Cortez"
            user="https://www.skool.com/@jose-cortez-5061"
            quote="🎉 Happy Birthday, Sam! 🎉Ah, 29—a year where you're technically still in your 20s, but your knees are already sending you \'final warning\' notices. (it happened to me 🙃) May your birthday be filled with grammar jokes that actually land, students who miraculously use \'whom\' correctly, and a pint or two that doesn't turn into, \'I swear, just one more!\' 😂 You're a legend, Sam. Thanks for being a great guy and a good friend!"
            image="jose.webp"
        />
        <MemberQuote
            name="Anna Kulińska"
            user="https://www.skool.com/@anna-kulinska-6369"
            quote="Happy birthday Sam! 🥳 I wish you all the happiness, love, support, satisfaction and joy you deserve ❤️ May all your plans and dreams come true, may they come sooner than you hope or expect, and may many other good things happen to you 🤩 Thank you for your amazing work and being an inspiration and congratulations on creating this awesome, unique place. I joined your community looking for a place to learn English, but have found so much more! 🥰 May your community continue to grow and connect more amazing, kind, curious people, letting them share thoughts and make friends all over the world 😊"
            image="anna.webp"
        />
        <MemberQuote
            name="Linda Sutrisno"
            user="https://www.skool.com/@wahyu-lindawati-9437"
            quote="Happiest birthday to Sam Venables ! On this fantastic birthday of yours, I just wanna thank you for providing us with a free safe supportive English community for English learners across the globe 🌍 Your dedication to English learning is truly commendable 👍👏We couldn't thank you enough for that ! May your birthday be filled with good vibes and unforgettable moments from family, friends, and of course DDE members! 😍 Stay fit and healthy for many more years to come, Sam 💪🔥"
            image="linda.webp"
        />
        <MemberQuote
            name="Hadjar Ishak"
            user="https://www.skool.com/@hadjer-rh-3504?g=deepdiveenglish"
            quote="Happy birthday Sam!! whatever you ask may you receive, whatever you seek may you find, whatever you wish may it be fulfilled on your birthday and always, thank you for creating this magical space who's not only a place where people could learn, growth and progresse closer to their dream, but also, a crossroad for the beutifull souls from all around the world where they made friends, support eache other and share warmth, all that thanks to you 🤍, may your upcoming day be the most beutifull ever."
            image="hadjar.webp"
        />
        <MemberQuote
            name="Miguel Soto"
            user="https://www.skool.com/@miguel-soto-3799?g=deepdiveenglish"
            quote="I'm thrilled to be part of your community! Thank you so much for your support and help - I really appreciate it!"
            image="miguel.webp"
        />
        <MemberQuote
            name="Guido Aranda"
            user="https://www.skool.com/@guido-aranda-9872?g=deepdiveenglish"
            quote="Happy birthday Sam! I wish that you've a great day. It's a pleasure to be a part of your community. Your dedication and work is more valuable than gold 💪. Thank you for everything!"
            image="guido.webp"
        />
        <MemberQuote
            name="Neurisberg Saraiva"
            user="https://www.skool.com/@neurisberg-saraiva-8598?g=deepdiveenglish"
            quote="I wish you a very happy birthday, Sam! May God help you achieve your goals and your dreams come true."
            image="neurisberg.webp"
        />
        <MemberQuote
            name="Debbie Jaz"
            user="https://www.skool.com/@debbie-jaz-2390?g=deepdiveenglish"
            quote="Happy birthday Sam! 🎉Hope you enjoy it and wish you a birthday filled with moments that make your heart smile. 🥳🎂"
            image="debbie.webp"
        />
        <MemberQuote
            name="Elena Melekhina"
            user="https://www.skool.com/@elena-melekhina-9850?g=deepdiveenglish"
            quote="Dear Sam: It was a great fortune and a pleasant event for me to meet you and join the community you created. Thank you for the opportunity to develop, the beneficial atmosphere and the pleasure I get from our meetings. Happy birthday, Sam. May all your dreams come true!"
            image="elena.webp"
        />
        <MemberQuote
            name="Abhitha C"
            user="https://www.skool.com/@abhitha-c-9263"
            quote="Happy birthday Sam! 🥳 I feel so glad to be here and wish you on your birthday. Thank you for sparing some of your precious time from your life with us. I wish you the happiest birthday and wonderful years ahead. May your life blessed with all the happiness and success in your personal and professional life as well😊"
            image="abhitha.webp"
        />
        <MemberQuote
            name="Sofia Molchanova"
            user="https://www.skool.com/@sofia-molchanova-7900?g=deepdiveenglish"
            quote="Sam, Happy Birthday! I wish you all the best, a lot of cheerfull days, smiling and supportive people around you! And also I wish your community to grow, to more and more people get to know about this! Thank you for all what you do to us, it's really cool and it's a great opportunity to improve English skills🤗 I appreciate it! Take care of yourself🙏"
            image="sofia.webp"
        />

        <MemberQuote
            name="Yousef Knowles"
            user="https://www.skool.com/@yousef-hawsawi-2203?g=deepdiveenglish"
            quote="When I think of Beyonce, I see excellence, perfection, hard working, detailed, and mastermind. And throughout this year, you were Beyonce, Sam. You've always been here to help us improve our skills, expand our minds, and challenge our beliefs and ideas. You've made sure all opinions are included, even the ones that sounded like kazoo to you. Thank you for helping me and for helping us. Thank you for your caring. Thank you for this community. Happy birthday and I wish 2025 give you it best."
            image="yousef.webp"
        />
        <MemberQuote
            name="Lara Fatma"
            user="https://www.skool.com/@deniz-d-8191?g=deepdiveenglish"
            quote="Happy Birthday, Sam! 🎉🎈 Wishing you a day filled with joy, laughter, and all the things that make you happiest. You are a spectacular guiding light for many non-native English speakers like me. Thank you for everything!"
            image="fatma.webp"
        />
        <MemberQuote
            name="Tomas Sanchez"
            user="https://www.skool.com/@tomas-sanchez-3903"
            quote="Happy birthday Sam 🎉 life is just starting, keep dreaming 🤩 Thank you for being such a great person, for your passion, patience and for impacting so many lives around the world. 🌍 I'm glad to be one of those. I wish you a lot of love, fun and a life full of joy"
            image="tomas.webp"
        />
    </div>
</div>
